p= link_to "dorian@dorianmarie.fr", "mailto:dorian@dorianmarie.fr"
p= link_to "dorian.marie.france@gmail.com", "mailto:dorian.marie.france@gmail.com"
p= link_to "oeuvres", "https://oeuvres.dorianmarie.fr"
p= link_to "questions", "https://questions.dorianmarie.fr"
p= link_to "points", "https://points.dorianmarie.fr"
