$light_grey: #ccc;
$grey: #6D7278;

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 500px;
  margin: auto;
  padding: 40px 20px;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid $light_grey;
}

input[type=submit] {
  -webkit-appearance: none;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  background: white;

  &:hover {
    cursor: pointer;
    background: #eee;
  }
}

input[type=file] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid $light_grey;
  width: 100%;
}

select {
 -webkit-appearance: none;
 width: 100%;
 border: 1px solid $light_grey;
 font-size: 16px;
 padding: 10px;
 background: white;
 border-radius: 0;
}

a {
  color: black;
}

p {
  margin: 0;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.red {
  color: red;
}

.grey {
  color: $grey;
}

.bold {
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: 20px;
}

.header {
  .header--left {
    display: inline-block;
  }

  .header--right {
    display: inline-block;
    text-align: right;
    list-style: none;
    padding: 0;
    float: right;

    li {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.product {
  display: flex;
  margin-bottom: 20px;

  .product--image {
    max-width: 50px;
  }

  .product--right {
    margin-left: 10px;
  }

  .product--price {
    font-weight: bold;
  }
}
