/*
 *= require tailwind.min
 */

// base

a {
  text-decoration: underline;
}

p {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="submit"],
select,
textarea,
.button {
  border: 1px solid black;
  padding: 5px;
  height: 35px;
}

input[type="submit"],
.button {
  background-color: #eee;
  text-decoration: none;
}

// rails

.field_with_errors {
  display: inline-block;
}

